* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 12px;
    font-weight: 100;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    margin: 0;
    padding: 20px;
}

main {
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 20px;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px;
}

th,
td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: rgb(66, 66, 248);
    cursor: pointer;
}

#dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
}

#project-table {
    width: 100%;
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

#project-details-panel {
    display: grid;
    /* Creates four vertical rows to house the project information and subsequent recommendation */
    grid-template-rows: auto auto auto auto;    
    gap: 12px;
}

#project-details-panel p {
    font-size: 12px;
    margin: 4px 0;
}

#project-details-panel h2,
#project-details-panel h3 {
    margin: 3px 0;
}

#environment-analytics {
    display: flex;
    flex-direction: column;
    /* Vertical gap between historical and future sections */
    gap: 40px;    
}

#historical,
#future {
    display: grid;
    /* Align the weather and pollution tables alongside each other.*/
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 8px;
}

#historical h2,
#historical form,
#future h2 {
    grid-column: 1 / -1;
    margin: 2px 0;
}